Flask==2.1.2
Pillow==8.0.1
numpy==1.19.2
matplotlib==3.5.1
opencv-python==4.5.4.60
# python-chess==0.23.9
# recap==0.1.6
# googledrivedownloader==0.4
# requests==2.26.0
# tqdm==4.62.2
# scikit-learn==1.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.9.0
torchvision==0.10.0